.App {
  text-align: center;
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#quote-box {
  width: 500px;
  position: relative;
  background-color: white;
  padding: 8%;
  border-radius: 3px;
  #author {
    height: auto;
    clear: both;
    padding: 20px 0;
    font-size: 1em;
    text-align: right;
  }
  #new-quote {
    width: 100px;
    float: right;
    border-style: none;
    padding: 8px;
    border-radius: 3px;
  }
  #tweet-quote {
    display: inline-block;
    width: 100px;
    text-decoration: none;
  }
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}